body {
    font-family: Arial, sans-serif;
    background-image: url('images/Golden.webp'); /* Caminho da imagem */
    background-size: cover;
    background-position: center; /* Centraliza*/
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-left: 350px;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.4); /*Opacidade */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.options {
    margin-top: 15px;
}

.options a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
}

.options a:hover {
    text-decoration: underline;
}
